<% if flash[:notice] %>
  <p><%= flash[:notice]%></p>
<% end %>
<h1><%= t('activerecord.models.customer.clients_list')%></h1>



<table>
  <thead>
    <tr>
      <td><strong><%= t('activerecord.attributes.customer.name')%></strong></td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
      <td><%= link_to "Mostrar", customer_path(customer)%></td>
      <td><%= link_to "Editar", edit_customer_path(customer)%></td>
      <td><%= link_to "Excluir", customer, data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %></td>
    </tr>
    <% end %>
  </tbody>

</table>

<%= link_to t("new_customer"), new_customer_path %>